@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v50-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-weight: 500;
  src: url('../fonts/roboto-v50-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-weight: 900;
  src: url('../fonts/roboto-v50-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Play';
  font-weight: 400;
  src: url('../fonts/play-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-primary-light: #ffffff;
  --color-primary-dark: #011c44;
  --color-secondary-light: #747272;
  --color-secondary-normal: #4a4a4a;
  --color-secondary-dark: #011f4a;
  --color-brand-main: #2b7fff;
  --color-brand-adition: #ffd02b;
}

/* Basic */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

address {
  font-style: normal;
}

/* Buttons */

.button {
  display: block;
  color: var(--color-primary-light);
  background-color: var(--color-brand-main);
  border: 2px solid var(--color-brand-main);
  border-radius: 32px;
  font-weight: 600;
  padding: 16px 32px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/* Links */

.link {
  color: var(--color-primary-dark);
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  transition: color 0.3s;
}

.link:hover {
  color: var(--color-brand-main);
}

/* shared */

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 24px;
  margin: 0 auto;
}

.accent {
  color: var(--color-brand-main);
}

.centered {
  text-align: center;
}

.visually-hidden:not(:focus):not(:active) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.gradient-wrapper {
  background-color: transparent;
  background-image: url('../images/gradient-curve.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

/* Header */

.header {
  position: absolute; /* float over hero */
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  z-index: 10;
  padding: 20px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  position: static;
  width: 74px;
  height: 42px;
}

.header-nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.header-nav ul {
  display: flex; /* забезпечує nav links рівномірно розподілені в одну лінію*/
  gap: 24px;
}

.header-nav li {
  display: inline-block;
  font-size: 18px;
  padding: 10px;
}

.header-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.social-icon {
  fill: var(--color-primary-dark);
}

.social-icon:hover {
  fill: var(--color-brand-main);
  stroke: var(--color-brand-main);
}

/* Hero section*/

.hero {
  background-color: var(--color-primary-light);
  background-image: url('../images/bg-image-hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  padding-top: 80px; /* щоб запобігти щоб контент секції не був розміщений під абсолютним header*/
  padding-bottom: 72px;
  margin-bottom: 42px;
}

.hero-wrapper {
  max-width: 529px;
  /* padding: 112px 0 40px 80px; */
  padding: clamp(64px, 12vh, 112px) 0 40px clamp(24px, 6vw, 80px);
}

.hero-name {
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}

.hero-title {
  color: var(--color-brand-main);
  font-family: 'Play', sans-serif;
  /* font-size: 140px; */
  font-size: clamp(48px, 10vw, 140px);
  font-weight: 700;
  line-height: 0.9;
  margin-bottom: 40px;
}

.hero-promo {
  /* max-width: 238px; */
  max-width: 36ch; /* встановлює ширину текстових блоків відносно символів, а не пікселів і тут приблизно 36 символів на рядок */
  color: var(--color-secondary-normal);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  margin-top: 14px;
}

/* About section*/

.about {
  position: relative;
  overflow: visible; /* тому що декоративні зірки виходять за контейнер */
  margin-top: 0;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.about-text-wrapper {
  flex: 1; /* займе доступний простір */
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 710px;
}

.about-title {
  max-width: 529px;
  color: var(--color-secondary-normal);
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1;
  margin: 0;
}

.about-text {
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.7;
}

.about-text .bolded {
  font-weight: 600;
}

.about-img-wrapper {
  position: relative; /* дозволить прив'язати декоративні зірки до цього блоку а не до viewPort */
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-img {
  position: relative; /* дозволить img змістити куда треба без порушення flex потоку */
  width: 335px;
  height: auto;
  border-radius: 50%;
}

.about-img:first-child {
  top: -40px;
  left: -108px;
}

.about-img:last-child {
  top: 0;
  right: -106px;
}

.about-star {
  position: absolute;
  z-index: 1;
}

/* to reduce zoom drift and improve responsiveness it was switched to relative units */
.star-1 {
  width: 4rem; /* 64px */
  height: 4rem;
  right: 16rem; /* використання rem замість px робить ел стабільними коли змінюємо масштаб */
  bottom: 20rem;
}

.star-2 {
  width: 2.5rem; /* 40px */
  height: 2.5rem;
  top: 0;
  right: -6rem;
}

.star-3 {
  width: 1rem; /* 16px */
  height: 1rem;
  top: 14rem;
  right: -4rem;
}

/* Advantages section*/

.advantages {
  padding-top: 178px;
  margin-bottom: 96px;
}

.advantages-container {
  width: 1060px;
  margin: 0 auto;
}

.advantages-title {
  display: block; /* ensures it sits on its own line */
  width: 442px;
  color: var(--color-primary-dark);
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 64px;
  margin: 0 auto 48px; /* centers and adds spacing below */
}

.advantages-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
}

.advantages-card {
  display: flex;
  flex-direction: column;
  width: 316px;
  height: 181px;
  padding: 24px 32px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
}

.advantages-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.advantages-icon {
  fill: var(--color-brand-main);
}

.advantages-text {
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

/* procedures section */

.procedures {
  padding-top: 0;
  margin-bottom: 96px;
}

.procedures-container {
  max-width: 1216px;
  margin: 0 auto;
}

.procedures-swiper {
  display: flex;
  align-items: center;
  gap: 32px;
}

.procedures-title {
  color: var(--color-primary-dark);
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 64px;
}

.procedures-card {
  display: block;
}

.procedures-img {
  width: 344px;
  height: 456px;
  border-top-left-radius: 4px;
  border-top-right-radius: 120px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 120px;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
}

.swiper-button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-shrink: 0; */
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  fill: var(--color-primary-dark);
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}

.swiper-button:hover {
  background-color: var(--color-brand-main);
  fill: var(--color-primary-light);
}

.swiper-button.next {
  transform: rotate(180deg);
}

/* contact section */

.contact {
  margin-bottom: 96px;
}

.contact-title {
  color: var(--color-primary-dark);
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 64px;
}

/* Footer */
